<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.repository.AllergyMapper">
	<select id="selectAll" resultType="allergy">
		select * from allergy
	</select>

	<select id="select" resultType="allergy" parameterType="String">
		select * from allergy where userinfo_id=#{id} and name=#{name}
	</select>



	<insert id="insert" parameterType="allergy">
		insert into allergy (userinfo_id, name) values(#{id},#{name})
	</insert>

	<delete id="delete" parameterType="allergy">
		delete from allergy where userinfo_id=#{id} and name=#{name}
	</delete>

</mapper>