<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.repository.memberMapper">
	<select id="selectAll" resultType="info">
		select * from userinfo
	</select>
	
	<select id="selectByNmae" resultType="info" parameterType="String">
		select * from userinfo where id like #{name} order by id
	</select>
	
	<select id="selectById" resultType="info">
		select * from userinfo where id=#{id}
	</select>
	
	<insert id="insertInfo" parameterType="info">
		insert into userinfo values(#{id}, #{password}, #{name}, #{address}, #{phone}, #{authority})
	</insert>
	
	<update id="updateInfo" parameterType="info">
		update userinfo set  name=#{name}, address=#{address}, phone=#{phone}, authority=#{authority} where id=#{id}
	</update>
	
	<delete id="deleteInfo" parameterType="Integer">
		delete form userinfo where id=#{id}
	</delete>
	

</mapper>