<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.repository.WishMapper">
	<select id="selectAll" resultType="wish">
		select * from wish where
		id=#{id}
	</select>

	<select id="select" resultType="wish" parameterType="wish">
		select *
		from wish where id=#{id} and code=#{code}
	</select>

	<insert id="insert" parameterType="wish">
		insert into wish (id, code)
		values(#{id},#{code})
	</insert>

	<delete id="delete" parameterType="wish">
		delete from wish where
		id=#{id} and code=#{code}
	</delete>
	<select id="selectsum" resultType="map" parameterType="string">
		select sum(food.calory) calory, sum(food.carbo) carbo, sum(food.protein) protein, sum(food.fat) fat, 
		sum(food.sugar) sugar, sum(food.natrium) natrium, sum(food.chole) chole, sum(food.fattyacid) fattyacid, sum(food.transfat) transfat
		from wish, food
		where wish.code = food.code
		and id=#{id}
	</select>
</mapper>